body {
    font-family: Arial, sans-serif;
    /* Removed background-color, we'll use a background image instead */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    background-image: url('images/background.png'); /* Add your image path here */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat;
        }

        header {
    background-color: #fff; /* Added background color for better visual separation */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribute logo and nav evenly */
    align-items: center; /* Vertically align logo and nav */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {  /* Style for the image */
    width: 70px;  /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
}

.logo h1 {
    font-size: 2.0em;
    font-weight: bold;
    color: #000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px; /* Added margin for spacing between nav items */
}

nav a {
    text-decoration: none;
    color: #333; /* Changed color for better contrast */
}

        h2 {
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        
        p {
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        .container {
            width: 90%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img {
            display: block;
            margin: 20px auto;
            max-width: 25%;
            height: auto;
            cursor: pointer;
        }
        
        .button-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some spacing above the button */
    width: 100%; /* Ensure the container spans the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#backButton {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
